body {
    width: 100vw;
    min-width: 800px;
    margin: 0;
}

.header-wrapper {
    width: 100vw;
    background-color: #1c313a;
}

.header {
    width: 1000px;
    height: 60px;
    border-bottom: 3px solid greenyellow;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-title {
    margin: 0;
}

.header-p {
    color:#455a64;
    margin-left: 20px;
}

.list-menu {
    display: flex;
    justify-content: space-between;
    background-color: #718792;
    border-radius: 16px;
    width: 50%;
    height: 35px;
    margin-right: 30px;
    text-align: center;
}

.header-p {
    margin: 0;
}

h1{
    color: white;
}

dt {
    margin-right: 20px;
    border-right: 1px solid #455a64;
    padding-right: 15px;
}

dt:first-child {
    margin-left: 10px;
}

dt:last-child {
    border: none;
}

a{
    color: #455a64;
    line-height: 35px;
}

.main-first-wrapper {
    background-color: #455a64;
}

.main-first {
    display: flex;
    width: 1000px;
    height: 170px;
    margin: 0 auto;
}

.main-first-info {
    width: 60%;
}

.img {
    width: 250px;
    height: 150px;
    margin: 5px 35px 10px 10px;
}

.more-but {
    background-color: green;
    border-radius: 6px;
    border: none;
    height: 28px;
    text-align: center;
}

.main {
    height: 300px;
}

.main-second {
    width: 1000px;
    border-bottom: 3px solid greenyellow;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
}

.main-second-info {
    width: 65%;
    margin-top: 0;
}

.main-second-news {
    width: 35%;
}

.main-title {
    margin: 0 10px, 0 10px;
    border-bottom: 2px solid green;
}

.main-news-header {
    background-color: grey;
    color: white;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 0;
}

.news {
    margin: 0;
}

.news li {
    display: flex;
    list-style: none;
    align-items: center;
    background-color: lightgray;
    border-bottom: 1px solid gray;
    margin-bottom: 1px;
}

.info-text {
}

.flower {
    height: 40px;
    width: 40px;
}

h5 {
    margin: 0;
}

.news-info {
    display: flex;
    flex-direction: column;
}

.li {
    margin-top: 20px;
}

.footer {
    background-color: #1c313a;
    height: 200px;
}

.footer-table {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

tr {
    margin-left: 20px;
}

th {
    color: white;
    text-align: left;
}

